




{% extends "base.html" %}

{% load static %}

{% block content %}




<div class="container text-center">
    <div  class="row">

        <div class="col-8">

            <h1>Gweeg</h1>
            {% for gweek in  gweeks %}

                <div class="alert alert-dark" role="alert">
                    <div class="container">
                        <div  class="row">
                            <div class="col-1">
                                {% if  gweek.user.profile.profile_image %}
                                <img src="{{gweek.user.profile.profile_image.url}}" width ="200" height="200" class="img-fluid rounded-circle" alt="{{gweek.user.profile.profile_image.url}}">
                                {% else %}
                                    <img src= "{% static "images/default_pic.jpg" %}" class="img-fluid rounded-circle" width ="200" height="200" alt="Profile Image">
                                {% endif %}
                            </div>     
                           
                            <div class="col-11">
        
                                {{gweek.body}}  </br>
                                <small class ="text-mutated">
                                    ( {{gweek.created_at}} )  By @{{gweek.user.username}}
                                    - {{gweek.number_of_like}} Likes - 
                                    {% if  user in gweek.likes.all %}
                                        <a href="{% url "gweek_like" gweek.id %}"> 
                                            <i  class="fa fa-heart" style="color:red"></i>        
                                        </a>
                                            
                                    {% else %}
                                        <a href="{% url "gweek_like" gweek.id %}"> 
                                            
                                            <i  class="fa fa-heart-o" style="color:red"></i>        
                                         </a>
                                    
                                    {% endif %}
                                    &nbsp;&nbsp;
                                    <a href="{% url "show_gweek" gweek.id %}" >
                                        
                                        <i  class="fa fa-share" style="color:gray"></i>        
                                    </a>
                                </small>
                                <br><br>
                    
                            </div>  
                        </div>  
                    </div>  

                </div>  
            {% endfor %}
              
        </div>  


        <div class="col-4">
            {% if form %}
                    <form method="POST" >
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-lg btn-outline-success">Gweek !</button>
                    </form>
                </div>  
            {% endif %}


    </div>  
</div>  




{% endblock content %}