{% extends "base.html" %}

{% block content %}



<h4>Update Geek in Social Geek</h4>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <center>
                <div class="col-8">

                    <form method ="post" action = {% url "update_password" %} >
                    
                        {% csrf_token %}
                        {{update_password_form.as_p}}
                    </br></br>
                    <button type="submit"  class ="btn btn-secondary">
                            Update Password 
                    </button>
                </div>            
        </center>
    </div>
</div>









{% endblock content %}















<div class="container">
    <div class="row">
        <center>
                <div class="col-8">

                    <form method ="post" action = {% url "update_password" %} >
                    
                        {% csrf_token %}
                        {{update_password_form.as_p}}
                    </br></br>
                    <button type="submit"  class ="btn btn-secondary">
                            Update Password 
                    </button>
                </div>            
        </center>
    </div>
</div>






